<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Title of the page and content -->
  <h1>Lets talk about mushrooms</h1>
  <div class="about">
    <p>Welcome to <%= forumName %>, your online haven for all things mushrooms! 🍄 Whether you're a seasoned mycophile,
        a
        curious forager, or a budding mycologist, you've found your community. Our forum is a vibrant gathering place
        where mushroom enthusiasts from around the globe come together to share knowledge, experiences, and a deep
        passion
        for fungi.
    </p>

    <p>
      At <%= forumName %>, we believe in fostering a friendly and inclusive space for discussions about the mesmerizing
        world of mushrooms. From the culinary delights of gourmet mushrooms to the intricacies of mycology and the
        wonders of mushroom foraging, our forum covers a diverse range of topics. Whether you're looking for
        identification tips, cultivation advice, or just want to geek out about the latest mycological discoveries,
        you're in the right place.
    </p>

    <p>
      Join us on this fungal journey where experts and beginners alike can engage in conversations, ask questions, and
      build connections with fellow mushroom enthusiasts. Our community is not just about mushrooms; it's about the
      people who share a fascination for the extraordinary and often mysterious kingdom of fungi.
    </p>

    <p>
      Feel free to explore the various threads, share your own experiences, and connect with a community that shares
      your love for mushrooms. Together, let's delve into the mycelial network of knowledge and cultivate a space
      where the mushroom-curious can thrive.

      Join <%= forumName %> and let the mushroom conversations begin! 🍄✨</p>
  </div>
</body>

</html>