<!DOCTYPE html>
<html>

<head>
  <title>Mushroome</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1> Home</h1>

<form method="POST" action="/registered">
  <p>First name: <input id="first" type="text" name="first" value="first name" /></p>
  <p>Last name: <input id="last" type="text" name="last" value="last name" /></p>
  <p>Email: <input id="email" type="email" name="email" value="email" /></p>
  <input type="submit" value="Register" />
</form>

  <p><a href="about">About</a></p>
  <p><a href="posts">Posts</a></p>
  <p><a href="topics"> Topics</a></p>
  <p><a href="users">Users</a></p>
  <p><a href="search_posts">Search Posts</a></p>
  <p><a href="add_post">Add a Post</a></p>

</body>

</html>
