<!DOCTYPE html>
<html>

<head>
  <title> Topics</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1>Topics available</h1>

  <!-- Display the list of existing users -->
  <ul>
    <% for(let topic of availableTopics){ %>
      <li>
        ID: <%= topic.topic_id %> Name: <%= topic.topic_name %>
      </li>
      <% } %>
  </ul>

</body>

</html>