<!DOCTYPE html>
<html>

<head>
  <!-- Set the title of the page, dynamically using the shopName variable -->
  <title> Topics</title>
  <!-- Link to an external stylesheet (main.css) for styling -->
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1>Topics available</h1>

  <!-- Display the list of existing users -->
  <ul>
    <% for(let topic of availableTopics){ %>
      <li>id: <%= topic.topic_id %> Name: <%= topic.topic_name %></li>
    <% } %>
  </ul>

</body>
</html>