<!DOCTYPE html>
<html>

<head>
  <!-- Set the title of the page, dynamically using the forumName variable -->
  <title></title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading for existing users -->
  <h1>Existing users</h1>

  <!-- Display the list of existing users -->
  <ul>
    <% for(let user of existingUsers){ %>
      <li>id: <%= user.user_id %> Name: <%= user.first_name %>  <%= user.last_name %> email: <%= user.email %></li>
    <% } %>
  </ul>

</body>
</html>
