<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading for existing users -->
  <h1>Existing users</h1>

  <!-- Display the list of existing users -->
  <ul>
    <% for(let user of existingUsers){ %>
      <li>Name: <%= user.first_name %>  <%= user.last_name %></li>
    <% } %>
  </ul>

</body>
</html>
