h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(83, 63, 37);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(83, 63, 37);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a:link {
    color: rgb(83, 63, 37);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(83, 63, 37);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(240, 141, 105);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
/* Reset default list styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style each list item */
li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Display child elements in a column */
}

/* Style specific elements within each list item */
li span {
  margin-bottom: 5px; /* Add some spacing between lines */
}

/* Add some spacing between elements within each list item */
li p {
  margin: 5px 0;
}


